<div class="content">
    <div class="container-fluid">
        <div class="row text-center well">
            <div class="col-md-2">
                <p>Science Fiction</p>
            </div>
            <div class="col-md-2">
                <p>Fantasy</p>
            </div>
            <div class="col-md-2">
                <p>History</p>
            </div>
            <div class="col-md-2">
                <p>Science</p>
            </div>
            <div class="col-md-2">
                <p>Historical Fiction</p>
            </div>
            <div class="col-md-2">
                <p>Thrillers/Mystery</p>
            </div>          
        </div>     
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/doandroidsdream.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/dune.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/1984.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/foundation.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/troopers.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>  
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/acolumnoffire.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/warlight.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/origin.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
