<div class="content">
    <div class="container-fluid">
        <div class="row text-center well">
            <div class="col-md-2">
                <p>Science Fiction</p>
            </div>
            <div class="col-md-2">
                <p>Fantasy</p>
            </div>
            <div class="col-md-2">
                <p>History</p>
            </div>
            <div class="col-md-2">
                <p>Science</p>
            </div>
            <div class="col-md-2">
                <p>Historical Fiction</p>
            </div>
            <div class="col-md-2">
                <p>Thrillers/Mystery</p>
            </div>          
        </div>     
        <div class="row" id="allbooks">
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/doandroidsdream.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/dune.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/1984.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/foundation.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/troopers.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>  
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/acolumnoffire.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/warlight.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/origin.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/florida.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/bigship.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/outsider.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>  
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/musk.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/goliath.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/elegantuniverse.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/quintessence.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/brief.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/cosmos.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>  
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/hobbit1.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/alchemist.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/diceman.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/loathing.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>  
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/minorityreport.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/gameofthrones.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div>                               
                        <img src="assets/img/neuromancer.jpg" class="img-responsive" style="height:220px; width:200px;"/>
                    </div>
                    <div>
                        <button class="btn btn-warning btn-block" style="border-radius:0">Add to Library</button>
                    </div>
                </div>
            </div>
            <script>
                var booklist = ["1984","acolumnoffire","alchemist","bigship","brief","cosmos","crimeandpunishment","diceman",
                                "doandroidsdream","dune","elegantuniverse","florida","foundation","gameofthrones","goliath",
                                "hobbit1","loathing","minorityreport","musk","neuromancer","origin","outsider","quintessence",
                                "troopers","warlight"];
                
                var i;
                var len = booklist.lenght;
                var container = document.getElementById("allbooks");
                for(i = 0; i < len; i++) 
                {                                
                    container.innerHTML('<img src="assets/img/'+booklist[i]+'.jpg" class="img-responsive" style="height:220px; width:200px;"/>');       
                }                
            </script>
        </div>
    </div>
</div>
