<div class="content">
	<div class="container-fluid">
		<div class="row" ng-app="App" ng-controller="bookCtrl">
			<div class="col-md-12">
		
				<table class='table table-responsive table-bordered'>
					<tr>
						<th>Book Cover</th>
						<th>Book Title</th>
						<th>Author</th>
						<th>Date of Publication</th>
						<th>Options</th>
					</tr>
					<tr ng-repeat = "book in books">
						<td>{{book.id}}</td>
						<td>{{book.title}}</td>
						<td>{{book.author}}</td>
						<td>{{book.date}}</td>
						<td>
							<button class="btn btn-danger">Remove</button>
						</td>
					</tr>
					<tr>
						<td>book.cover</td>
						<td>book.title</td>
						<td>book.author</td>
						<td>book.date</td>
						<td>
							<button class="btn btn-danger">Remove</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var app = angular.module("App", []);
	app.controller("bookCtrl", function($scope, $http) {
		
		$scope.books = [
			{id:1, title: 'Do Androids Dream of Electric Sheep', author: 'Philip K. Dick', genre: 'Sci-fi', date: '1968'},
			{id:2, title: 'Dune', author: 'Frank Herbert', genre: 'Sci-fi', date: '1965'},
			{id:3, title: '1984', author: 'George Orwell', genre: 'Dystopia', date: '1949'},
			{id:4, title: 'Foundation', author: 'Isaac Asimov', genre: 'Sci-fi', date: '1942'},
			{id:5, title: 'Starship Troopers', author: 'Robert A. Heinlein', genre: 'Sci-fi', date: '1959'}
		];
		
	});
</script>