<div class="wrapper" style="display: table; width: 100%;">
    <div class="content" style="vertical-align: middle; display:  table-cell;background-color:#f4f3ef">
        <div class="container-fluid">
            <div class="row"style="background-color:#f4f3ef">
                <div class="col-md-4 col-xs-0">
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="well well-sm text-center" style="background-color:#DDDDDD; padding-top:0">
                        <h4 class="title" style="color:#66615b">ATMO Library</h4>
                        <p class="category" style="color:#66615b">Please enter your login details</p>
                    </div>
                    <div class="well" style="background-color:#DDDDDD">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label" style="color:#66615b">Username</label>
                                        <input type="email" ng-model="credentials.username" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label" style="color:#66615b">Password</label>
                                        <input type="password" ng-model="credentials.password" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success pull-right" ng-click="login(credentials)">Login</button>
                            <button type="submit" class="btn btn-success pull-left " ng-click="register()">Registration</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-xs-0">
                </div>
            </div>
        </div>
    </div>
</div>